body {
  font-size: 16px;
  line-height: 22px;
  color: rgb(255, 255, 255);
  font-family: "Roboto", "Arial", sans-serif;
  background: rgb(132, 157, 143) ;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.item-type {
  font-size: 35px;
  line-height: 41px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-family: "Roboto", "Arial", sans-serif;
}

.promo-name {
  font-size: 35px;
  line-height: 41px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-family: "Roboto", "Arial", sans-serif;
}

.hidden {
  display: none;
}

.main-header {
  width: 1146px;
  height: 115px;
  margin: 0 27px;
  font-size: 0;
  background: rgba(255, 155, 0, 0.4);
}

.logo {
  display: inline-block;
  width: 156px;
  vertical-align: middle;
}

.main-navigation {
  display: inline-block;
  width: 500px;
  margin-left: 13px;
  margin-top: 18px;
  margin-right: 165px;
  vertical-align: top;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.main-navigation li {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.main-navigation a {
  padding: 7px 13px;
  color: rgb(255, 255, 255);
  border-radius: 10px;
}

.main-navigation a:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.user-actions {
  position: relative;
  display: inline-block;
  max-width: 300px;
  font-size: 16px;
  margin-top: 16px;
  vertical-align: top;
}

.user-actions ul {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.user-actions li {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.user-actions btn, /*????????????????????*/
.user-actions a {
  padding: 7px 14px;
  color: rgb(255, 255, 255);
  border-radius: 50%;
}

.basket::before {
  position: absolute;
  content: " ";
  left: 140px;
  width: 25px;
  height: 25px;

  background: rgb(255, 0, 255) url("img/basket.png") no-repeat;
}

.work-time {
  display: block;
  float: right;
  font-size: 16px;
  width: 180px;
  background: rgba(255, 255, 0, 0.2);
}

.tel {
  display: block;
  float: right;
  width: 170px;
  font-size: 16px;
  clear: right;
  background: rgba(255, 255, 0, 0.2);
}

.presentation-item {
  width: 1146px;
  height: 506px;
  margin-left: 27px;
  margin-right: 27px;
  margin-bottom: 12px;
  background: rgba(105, 105, 0, 0.2);
}

.promo {
  font-size: 0;
}

.promo-item-left {
  display: inline-block;
  width: 522px;
  margin-left: 27px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 38px;
  padding-left: 18px;
  padding-right: 20px;
  height: 229px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  background: rgb(106, 12, 27) url("img/promo1.jpg") no-repeat;
  border-radius: 10px;
}

.promo-item-right {
  display: inline-block;
  width: 521px;
  margin-left: 16px;
  margin-right: 27px;
  margin-top: 5px;
  margin-bottom: 38px;
  padding-left: 18px;
  padding-right: 20px;
  height: 229px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  background: rgb(28, 13, 9) url("img/promo2.jpg") no-repeat;
  border-radius: 10px;
}

.hit {
  position: relative;
  width: 1146px;
  margin: 0 27px;
  font-size: 0;
  background: rgba(105, 105, 0, 0.2);
}

.hit-item {
  display: inline-block;
  width: 267px;
  vertical-align: top;
  margin-bottom: 35px;
  padding-top: 8px;
  margin-right: 26px;
  font-size: 16px;
  background: rgba(255, 255, 0, 0.2);
}

.hit-item::before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0px;
  width: 61px;
  height: 61px;
  border-radius: 10px;
  background: rgb(255, 0, 255) url("img/hit-1.png") no-repeat;
}

.hit-item:last-child {
  margin-right: 0;
}

.description {
  width: 1093px;
  margin-bottom: 40px;
  margin-left: 27px;
  margin-right: 27px;
  padding-top: 28px;
  padding-left: 23px;
  padding-right: 30px;
  padding-bottom: 30px;
  background: rgba(255, 255, 0, 0.2);
}

.description-item {
  display: inline-block;
  width: 528px;
  height: 77px;
  margin-top: 10px;
  margin-left: 26px;
  margin-bottom: 13px;
  background: rgba(255, 255, 0, 0.2);
}

.description-item:nth-child(2n) {
  margin-left: 0;
}

.content {
  width: 1146px;
  margin-left: 27px;
  margin-right: 27px;
  margin-bottom: 40px;
  font-size: 0;
  background: rgba(255, 255, 0, 0.2);
}

.new-in-blog {
  display: inline-block;
  vertical-align: top;
  width: 560px;
  height: 220px;
/*  padding-left: 18px;
  padding-right: 253px;
  padding-top: 27px;
  padding-bottom: 80px;*/
  margin-right: 13px;
  box-sizing: border-box;
  font-size: 16px;
  background: rgba(5, 255, 0, 0.2);
}

.dispatch {
  display: inline-block;
  vertical-align: top;
  width: 560px;
  height: 220px;
/*  padding: 35px 24px 35px 25px;*/
  margin-left: 13px;
  box-sizing: border-box;
  font-size: 16px;
  background: rgba(5, 255, 0, 0.2);
}
/*
.address-info{
  width: 1200px;
  height: 430px;
  font-size: 0;
  background: rgba(5, 255, 0, 0.2);
}*/

.address-info {
  display: block;
  width: 247px;
  height: 252px;
  font-size: 16px;
  margin-top: 60px;
  margin-left: 871px;
  margin-bottom: 60px;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 25px;
  background: rgb(155, 0, 18);
}

.main-footer {
  width: 1146px;
  margin-top: 15px;
  margin-left: 27px;
  margin-right: 27px;
  background: rgba(5, 255, 0, 0.2);
}

.network-contacts {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  margin-top: 10px;
  margin-right: 170px;
  background: rgba(205, 255, 10, 0.2);
}

.work-documents {
  display: inline-block;
  vertical-align: top;
  width: 356px;
  margin-top: 10px;
  margin-right: 195px;
  background: rgba(205, 255, 10, 0.2);
}

.developer {
  display: inline-block;
  vertical-align: top;
  width: 195px;
  background: rgba(205, 255, 10, 0.2);
}

.main-content {
  width: 1148px;
  margin: 0 26px;
  background: rgba(105, 105, 0, 0.2);
}

.breadcrumps {
  width: 267px;
  height: 30px;
  margin-top: -30px;
  background: rgba(105, 205, 0, 0.8);
}

.item-type {
  margin-top: 0;
  margin-bottom: 0;
  background: rgba(105, 105, 105, 0.2);
}

.filters {
  width: 879px;
  height: 135px;
  padding-top: 25px;
  padding-bottom: 30px;
  font-size: 0;
  background: rgba(105, 205, 0, 0.3);
}

.filter-select {
  display: inline-block;
  margin-right: 10px;
  font-size: 16px;
  background: rgba(105, 105, 105, 0.2);
}

.filter-price {
  display: inline-block;
  margin-right: 10px;
  font-size: 16px;
  background: rgba(105, 105, 105, 0.2);
}

.filter-fat-item {
  display: inline-block;
  margin-right: 10px;
  font-size: 16px;
  background: rgba(105, 105, 105, 0.2);
}

.filter-additional-item {
  display: inline-block;
  margin-right: 10px;
  margin-top: 15px;
  font-size: 16px;
  background: rgba(105, 105, 105, 0.2);
}

.catalog-items {
  width: 1174px;
  margin: 0 -13px;
  font-size: 0;
  background: rgba(105, 105, 0, 0.2);
}

.catalog-item {
  display: inline-block;
  width: 267px;
  height: 365px;
  margin-right: 13px;
  margin-left: 13px;
  vertical-align: top;
  font-size: 16px;
  background: rgba(255, 255, 0, 0.2);
}

.catalog-page {
  height: 35px;
  padding-top: 30px;
  padding-bottom: 12px;
  text-align: right;
  font-size: 16px;
  background: rgba(25, 255, 50, 0.5);
}
