body {
  width: 1200px;
  font-size: 16px;
  line-height: 22px;
  color: rgb(255, 255, 255);
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #849d8f;
  margin: 0 auto;
  padding: 0;
}

.item-type {
  font-size: 35px;
  line-height: 41px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-family: "Roboto", "Arial", sans-serif;
}

.promo-name {
  margin: 0;
  padding: 0;
  font-size: 35px;
  line-height: 41px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-family: "Roboto", "Arial", sans-serif;
}

.main-header {
  width: 1146px;
  height: 115px;
  margin: 0 27px;
  padding-top: 10px;
  font-size: 0;
}

.main-header li {
  min-height: 40px;
}

.logo {
  display: inline-block;
  width: 156px;
  vertical-align: middle;
}

.main-navigation {
  display: inline-block;
  width: 500px;
  margin-left: 13px;
  margin-top: 18px;
  vertical-align: top;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.main-navigation li {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.menu-item {
  border-bottom: rgba(255, 255, 255, 0.3) 1px solid;
}

.main-navigation a {
  padding: 7px 14px;
  color: #fff;
  text-decoration: none;
}

.main-navigation a:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  border: none;
}

.main-navigation a:active {
  background-color: rgba(248, 247, 244, 0.988);
  box-shadow: inset 0px 2px 1px rgba(105, 105, 105, 0.004);
}

.selected {
  background-color: #d07058;
  border-radius: 20px;
}

.selected .menu-item {
  border: none;
}

.hidden {
  display: none;
}

.user-actions {
  float: right;
  max-width: 400px;
  font-size: 16px;
  margin-left: 20px;
  margin-top: 11px;
}

.user-actions ul {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.user-actions li {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.basket {
  display: block;
  width: 119px;
  padding: 7px 14px 7px 50px;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.3) url("../img/basket.png") 16px 6px no-repeat;
}

.full {
  width: 125px;
  padding: 7px 8px 7px 50px;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
  background: #f7f6f3 url("../img/basket-full.png") 16px 6px no-repeat;
}

.user-action-search {
  width: 33px;
  font-size: 14px;
  line-height: 16px;
  padding: 7px;
  box-sizing: border-box;
  color: rgba(0,0,0,0);
  border: none;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.3) url("../img/glass.png") 8px 7px no-repeat;
}

.user-action-search:hover {
  background: rgb(248, 247, 244) url("../img/glass-active.png") 8px 7px no-repeat;
}

.user-action-exit {
  display: block;
  width: 95px;
  padding: 7px 14px 7px 43px;
  box-sizing: border-box;
  border: none;
  font-size: 16px;
  line-height: 18px;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.3) url("../img/enter.png") 16px 6px no-repeat;
}

.user-action-exit:hover {
  color: rgb(50, 50, 50);
  background: rgb(248, 247, 244) url("../img/enter-active.png") 16px 6px no-repeat;
}

.work-time {
  margin-top: -10px;
  margin-bottom: 5px;
  padding-top: 14px;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  text-align: right;
}

.tel {
  text-align: right;
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
}

.catalog {
  position: relative;
}

.modal-menu-catalog {
  position: absolute;
  z-index: 2;
  display: none;
  top: 30px;
  left: 0;
  width: 142px;
  padding: 0;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.modal-menu-catalog a {
  display: block;
  padding-right: 9px;
  padding-left: 20px;
  margin-top: 4px;
  color: #323232;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  text-decoration: none;
}

.modal-menu-catalog a:first-child {
  position: relative;
  margin-top: 0;
  margin-bottom: 5px;
  padding-bottom:  10px;
  font-weight: bold;
}

.modal-menu-catalog a:first-child:after {
  content: "";
  display: block;
  height: 1px;
  background: #d1d0ce;
  width: 112px;
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.modal-menu-catalog a:hover {
  background-color: #feded7;
  border-radius: 0;
}

.catalog:hover .modal-menu-catalog {
    display: block;
}

.modal-menu-catalog a:active {
  background-color: #f6b5a5;
  border-radius: 0;
}

.modal-menu-catalog .selected-item {
  background-color: #d07058;
  border-radius: 0;
  color: #fff;
}


li.main-navigation:hover .modal-menu-catalog {
  display: block;
}

.presentation-wrapper {
  min-width: 1200px;
  background: #849d8f url("../img/slide-1.png") no-repeat top center;
  transition: background-image 0.5s easy, background-color 0.5s easy;
}

.presentation-wrapper::before,
.presentation-wrapper::after {
  content: "";
  visibility: hidden;
}

.presentation-wrapper::before,
.presentation-wrapper::after {
  background-image: url("../img/slide-1.png");
}

.presentation-wrapper::after {
  background-image: url("../img/slide-2.png");
}

.slide-wrapper {
  min-width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.slider {
  position: relative;
  padding-top: 270px;
  margin-bottom: 35px;
  text-align: center;
  color: #fff;
}

.slide {
  display: none;
}

.slide-name {
  width: 680px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 60px;
  line-height: 60.35px;
  font-weight: bold;
}

.slide-btn {
  display: inline-block;
  padding: 12px 50px;
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  vertical-align: top;
  color: #fff;
  text-decoration: none;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  }

.slide-btn:hover {
  background: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.004);
  }

.slide-btn:active {
  background: -moz-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background: linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  box-shadow: inset 0px 2px 2px rgba(148, 39, 24, 0.004);
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label,
.slider-controls label:active {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label:hover {
  background-color: #b2c1b7;
}

#btn-1:checked ~ .presentation-wrapper #slide-1,
#btn-2:checked ~ .presentation-wrapper #slide-2,
#btn-3:checked ~ .presentation-wrapper #slide-3 {
  display: block;
}

#btn-1:checked ~ .presentation-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
}

#btn-2:checked ~ .presentation-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-2.png");
}

#btn-3:checked ~ .presentation-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide-3.png");
}

#btn-1:checked ~ .presentation-wrapper label[for="btn-1"],
#btn-2:checked ~ .presentation-wrapper label[for="btn-2"],
#btn-3:checked ~ .presentation-wrapper label[for="btn-3"] {
  background-color: #fff;
}

.promo {
  font-size: 0;
  margin-top: -5px;
}

.promo-content {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 520px;
  padding: 15px 20px;
  min-height: 200px;
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  border-radius: 15px;
}

.promo-item-left {
  margin: 0 10px 38px 27px;
  background: rgb(106, 12, 27) url("../img/promo1.jpg") no-repeat;
}

.promo-item-right {
  margin: 0 27px 38px 16px;
  background: rgb(28, 13, 9) url("../img/promo2.jpg") no-repeat;
}

.promo-button {
  position: absolute;
  bottom: 24px;
  right: 21px;
  padding: 15px 24px;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.hit {
  width: 1146px;
  margin: 0 27px;
  font-size: 0;
}

.hit-item {
  position: relative;
  display: inline-block;
  width: 267px;
  vertical-align: top;
  text-align: center;
  margin-bottom: 36px;
  margin-right: 26px;
  font-size: 16px;
  line-height: 18px;
}

.hit-item::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0px;
  display: block;
  width: 61px;
  height: 61px;
  border-radius: 50%;
  background: rgb(255, 255, 255) url("../img/hit-1.png") no-repeat;
}

.hit-item:last-child {
  margin-right: 0;
}

.hit-item img,
.catalog-item img {
  border-radius: 50%;
}

.hit-item-price,
.catalog-item-price {
  display: block;
  margin-top: -65px;
  margin-bottom: 30px;
  text-align: left;
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
  font-weight: bold;
  color: #fff;
}

.catalog-item-price {
  margin-bottom: 23px;
}

.hit-item a,
.catalog-item a {
  font-size: 16px;
  line-height: 22px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  border-bottom: rgba(255,255,255,.3) 1px solid;
}

.description {
  width: 1146px;
  margin-bottom: 42px;
  margin-left: 27px;
  margin-right: 27px;
  padding-top: 2px;
  padding-left: 21px;
  padding-right: 21px;
  padding-bottom: 20px;
  box-sizing: border-box;
  font-size: 0;
  border-radius: 10px;
  background: rgb(223, 203, 161) url("../img/shop-background.png") repeat;
  color: rgb(50, 50, 50);
}

.description p {
  margin-bottom: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.description-item {
  display: inline-block;
  vertical-align: top;
  width: 538px;
  box-sizing: border-box;
  margin-left: 26px;
  margin-top: 12px;
  padding-left: 57px;
  padding-top: 13px;
  font-size: 16px;
  line-height: 22px;
}

.description-item:nth-child(2n) {
  margin-left: 0;
}

.description-1 {
  background: url(../img/ice-cream.png) left top no-repeat;
}

.description-2 {
  background: url(../img/cow.png) left top no-repeat;
}

.description-3 {
  background: url(../img/leave.png) left top no-repeat;
}

.description-4 {
  background: url(../img/temprecher.png) left top no-repeat;
}

.content {
  width: 1146px;
  margin: 0 27px;
  margin-bottom: 40px;
  font-size: 0;
}

.new-in-blog {
  display: inline-block;
  vertical-align: top;
  width: 560px;
  height: 220px;
  padding-left: 19px;
  padding-right: 253px;
  padding-top: 6px;
  margin-right: 13px;
  box-sizing: border-box;
  border-radius: 10px;
  font-size: 16px;
  line-height: 22px;
  color: rgb(50, 50, 50);
  background: rgb(255, 255, 255) url("../img/new-blog-background.jpg") no-repeat;
}

.new-in-blog a {
  display: block;
  margin-top: -10px;
  color: rgb(50, 50, 50);
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.new-in-blog a {
    color: #e84d37;
}

.pattern {
  display: inline-block;
  vertical-align: top;
  width: 560px;
  margin-left: 13px;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 10px;
  background: rgb(248, 247, 244) url(../img/dispatch.png);;
}

.dispatch {
  width: 544px;
  min-height: 204px;
  padding-top: 15px;
  padding-left: 22px;
  padding-right: 15px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 22px;
  color: rgb(90, 90, 90);
  border-radius: 10px;
  background: rgb(248, 247, 244);
}

.dispatch-data {
  margin-top: 15px;
}

.dispatch-text {
  width: 346px;
  height: 40px;
  margin-right: 8px;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
}

.btn {
  padding: 15px 24px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: 0;
  line-height: 18px;
  margin-top: 12px;
}

.btn:hover {
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 1px 2px rgba(172, 16, 0, 0.004);
}

.btn:active {
  background-image: -moz-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  box-shadow: inset 0px 2px 2px rgba(148, 39, 24, 0.004);
}

.address {
  position: relative;
  width: 1200px;
  height: 430px;
  font-size: 0;
  background: rgba(5, 255, 0, 0.2) url("../img/map.png") no-repeat;
}

.address::before {
  content: "";
  display: block;
  width: 218px;
  height: 142px;
  position: absolute;
  top:142px;
  left:265px;
  background: url("../img/marker-for-map.png") no-repeat;
}

.address-info {
  float: right;
  width: 304px;
  margin-top: 65px;
  margin-right: 27px;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: #323232;
  background: #fff;
  border-radius: 10px;
  box-sizing: border-box;
}

.address-info-name {
  margin-top: 30px;
  margin-left: 28px;
  font-size: 14px;
  line-height: 20px;
  width: 157px;
}

.address-name {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  width: 230px;
  margin-left: 28px;
  padding-bottom: 20px;
}

.address-info-tel {
  margin-left: 28px;
}

.tel-1 {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
}

.address .btn {
  margin-left: 28px;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #fefefe;
}

.main-footer {
  width: 1146px;
  margin-top: 15px;
  margin-left: 27px;
  margin-right: 27px;
  font-size: 0;
}

.network-contacts {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 220px;
  margin-top: 10px;
  margin-right: 170px;
}

.network-btn {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  margin-right: 10px;
  font-size: 0;
  border: 3px solid rgba(194, 206, 199, 0.7);
  opacity: 0.8;
  border-radius: 50%;
}

.network-btn-tw {
  background: url(../img/twitter.png) no-repeat;
}

.network-btn-vk {
  background: url(../img/vk.png) no-repeat;
}

.network-btn-inst {
  background: url(../img/instagram.png) no-repeat;
}

.network-btn-fb {
  background: url(../img/facebook.png) no-repeat;
}

.network-btn-tw:hover {
  opacity: 1;
}

.network-btn-vk:hover {
  opacity: 1;
}

.network-btn-inst:hover {
  opacity: 1;
}

.network-btn-fb:hover {
  opacity: 1;
}

.network-btn-tw:active {
  box-shadow: inset 0px 2px 1px rgba(136, 136, 136, 0.004);
}

.network-btn-vk:active {
  box-shadow: inset 0px 2px 1px rgba(136, 136, 136, 0.004);
}

.network-btn-inst:active {
  box-shadow: inset 0px 2px 1px rgba(136, 136, 136, 0.004);
}

.network-btn-fb:active {
  box-shadow: inset 0px 2px 1px rgba(136, 136, 136, 0.004);
}

.work-documents {
  display: inline-block;
  vertical-align: top;
  width: 350px;
  margin-top: 10px;
  margin-right: 195px;
  background: url(../img/heart.png)  8px 5px no-repeat;
}

.work-document-1 {
  float: left;
  width: 146px;
}

.work-document-2 {
  width: 200px;
  float: left;
}

.work-documents a {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin-left: 30px;
  font-size: 13px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
}

.main-footer a:hover,
.main-footer a:active {
  color: #ffbc9e;
  border-bottom: #ffbc9e 1px solid;
}

.developer {
  display: inline-block;
  vertical-align: top;
  width: 190px;
  margin-top: -6px;
  margin-left: 19px;
  font-size: 12px;
  line-height: 18px;
  color: #fefefe;
}

.developer img {
  margin-bottom: -13px;
}

.developer a {
  text-decoration: none;
  border-bottom: rgba(255, 255, 255, 0.3) 1px solid;
  color: #fefefe;
}

.main-content {
  width: 1148px;
  margin: 0 26px;
}

.breadcrumps {
  width: 267px;
  height: 30px;
  margin-top: -32px;
}

.breadcrumps ul {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.breadcrumps li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 23px;
  margin-top: 5px;
}

.breadcrumps a {
  position: relative;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  text-decoration: none;
}

.breadcrumps a:hover,
.breadcrumps a:active {
  color: #ffbc9e;
  border-bottom: #ffbc9e 1px solid;
}

.breadcrumps a::after {
  position: absolute;
  content: '\BB';
  top: 0;
  left: 55px;
  padding-left: 7px;
}

.breadcrumps a::after:nth-child(3) {
  display: none;
}

.item-type {
  margin-top: 0;
  margin-bottom: 0;
}

.filters {
  width: 879px;
  height: 135px;
  padding-top: 25px;
  padding-bottom: 30px;
  font-size: 0;
}

.filter-select {
  display: inline-block;
  vertical-align: top;
  margin-right: 16px;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}

.filter {
  margin-left: 15px;
}

.filter-sort {
  border-radius: 20px;
  background-color: #a9bab0;
  height: 35px;
  margin-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  border: none;
}

.filter-price {
  display: inline-block;
  vertical-align: top;
  margin-right: 16px;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}

.price {
  position: relative;
  border-radius: 20px;
  background-color: #abbcb2;
  width: 190px;
  height: 35px;
  margin-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}

.scale {
  position: absolute;
  top: 16px;
  width: 188px;
  height: 4px;
  background: #cbd4cd;
}

.bar {
  position: absolute;
  top: 0;
  left: 35px;
  width: 87px;
  height: 4px;
  background: #f8f7f4;
}

.price-toggle {
  position: absolute;
  top: 8px;
  width: 20px;
  height: 20px;
  background: #f8f7f4;
  border-radius: 50%;
  cursor: pointer;
}

.price-toggle-min {
  left: 32px;
}

.price-toggle-max {
  left: 60%;
}

.price-toggle:hover {
  cursor: pointer;
  width: 23px;
  height: 23px;
}

.filter-fat-item {
  display: inline-block;
  vertical-align: top;
  width: 390px;
  margin-right: 16px;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}

.filter-radio {
  border-radius: 20px;
  background-color: #aabcb2;
  height: 35px;
  margin-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  line-height: 35px;
  color: #fff;
}

.radio-fat {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

.radio-fat input[type="radio"] {
  display: none;
}

.radio-fat input[type="radio"] +
.radio-indicator {
  position: absolute;
  top: 5px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.radio-fat input[type="radio"] +
.radio-indicator:hover {
  border: 2px solid #fff;
}

.radio-fat input[type="radio"]:checked +
.radio-indicator::after {
  content: " ";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  border: 1px solid #fff;
  border-radius: 50%;
  background: #f8f7f4;
}

.radio-fat input[type="radio"]:checked +
.radio-indicator:hover {
  border: 2px solid #fff;
}

/* заблокировано
.radio-fat input[type="radio"]:checked +
.radio-indicator:,
.radio-fat input[type="radio"] +
.radio-indicator-: {
  opacity: 0.4;
}*/

.filter-additional-item {
  display: inline-block;
  vertical-align: top;
  margin-right: 16px;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}

.filter-checkbox input[type="checkbox"] {
  display: none;
}

.filter-checkbox {
  position: relative;
  padding-left: 34px;
  cursor: pointer;
}

.filter-checkbox input[type="checkbox"] +
.checkbox-indicator {
  position: absolute;
  top: -3px;
  left: 0;
  width: 26px;
  height: 26px;
  background: url("../img/checkbox-empty.png") no-repeat center center;
}

.filter-checkbox input[type="checkbox"]+
.checkbox-indicator:hover  {
  background: url("../img/checkbox-empty-hover.png") no-repeat center center;
}

.filter-checkbox input[type="checkbox"]:checked +
.checkbox-indicator {
  background: url("../img/checkbox.png") no-repeat center center;
}

.filter-checkbox input[type="checkbox"]:checked+
.checkbox-indicator:hover  {
  background: url("../img/checkbox-hover.png") no-repeat center center;
}
/*                                                  для блокировки
.filter-checkbox input[type="checkbox"]:checked+
.checkbox-indicator:,
.filter-checkbox input[type="checkbox"]+
.checkbox-indicator: {
  opacity: 0.4;
}
*/

.filter-additional {
  border-radius: 20px;
  background-color: #a8b9b0;
  height: 35px;
  margin-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 16px;
  line-height: 35px;
  color: #fff;
}

.filter-btn {
  margin-top: 23px;
  padding: 7px 27px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  border: 2px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.188);
  border-radius: 20px;
}

.filter-btn:hover {
  color: #323232;
  background-color: #fbfbfb;
}

.filter-btn:active {
  color: #323232;
  background-color: #ededed;
  border: none;
  box-shadow: inset 0px 2px 1px rgba(105, 105, 105, 0.004);
}

.catalog-items {
  width: 1174px;
  margin: 0 -13px;
  font-size: 0;
}

.catalog-item {
  position: relative;
  display: inline-block;
  width: 267px;
  height: 324px;
  margin-right: 13px;
  margin-left: 13px;
  padding-top: 7px;
  padding-bottom: 34px;
  vertical-align: top;
  text-align: center;
}

.catalog-item:hover {
  display: block;
}

.catalog-item:hover::before {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  left: -13px;
  width: 293px;
  height: 405px;
  background-color: rgb(248, 247, 244);
  opacity: 0.302;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.btn-look {
  display: none;
  position: absolute;
  bottom: -24px;
  left: 36px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #fefefe;
  padding: 11px 16px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: 0;
}

.catalog-item:hover  .btn-look {
  display: block;
  z-index: 2;
}

.catalog-item:hover a {
  z-index: 2;
}

.btn-look:hover {
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 1px 2px rgba(172, 16, 0, 0.004);
}

.btn-look:active {
  background-image: -moz-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  box-shadow: inset 0px 2px 2px rgba(148, 39, 24, 0.004);
}

.catalog-item a:hover,
.catalog-item a:active,
.hit-item a:hover,
.hit-item a:active {
  color: #ffbc9e;
  border-bottom: #ffbc9e 1px solid;
}

.catalog-page {
  text-align: right;
  height: 35px;
  padding-top: 41px;
  padding-bottom: 32px;
}

.catalog-page a {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 24px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
}

a.selected-page,
.page-actions:active  {
  font-size: 16px;
  color: #323232;
  background-color: #fff;
  border-radius: 50%;
}

.page-actions:hover {
  font-size: 16px;
  color: #fff;
  background-color: rgba(255,255,255,.2);
  border-radius: 50%;
  cursor: pointer;
}


a.catalog-page-back {
  text-indent: 24px;
  background: url(../img/back.png) left center no-repeat;
  overflow: hidden;
  width: 24px;
}

a.catalog-page-forward {
  text-indent: 24px;
  background: url(../img/forward.png) right center no-repeat;
  overflow: hidden;
  width: 24px;
}

.search {
  position: relative;
}

.modal-search {
  position: absolute;
  z-index: 2;
  display: none;
  top: 35px;
  right: 0;
  width: 342px;
  height: 85px;
  padding: 0;
  margin-top: 4px;
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.search-text {
  width: 297px;
  height: 40px;
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 15px;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
}

.search:hover .modal-search {
    display: block;
}

.modal-exit {
  position: absolute;
  z-index: 2;
  display: none;
  top: 59px;
  right: 235px;
  width: 277px;
  height: 214px;
  margin-top: 4px;
  padding-top: 20px;
  padding-left: 17px;
  padding-right: 17px;
  border-radius: 5px;
  background-color: #f8f7f4;
  box-sizing: border-box;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.exit-text {
  width: 224px;
  height: 39px;
  padding-left: 15px;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
}

.modal-exit .btn {
  display: inline-block;
  vertical-align: top;
  margin-top: -5px;
  margin-right: 20px;
}

.exit-links {
  width: 122px;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.modal-exit a {
  text-align: left;
  color: #323232;
  font-size: 13px;
  line-height: 24px;
  text-decoration: none;
  border-bottom: #adacaa 1px solid;
}

.user-enter:hover .modal-exit {
  display: block;
}

.user-basket {
  position: relative;
}

.modal-basket {
  position: absolute;
  z-index: 2;
  display: none;
  top: 35px;
  right: 0;
  width: 510px;
  padding-right: 15px;
  padding-top: 10px;
  padding-left: 15px;
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.modal-basket table {
  width: 509px;
  text-align: center;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
}

.modal-basket tr {
  height: 60px;
}
.basket-item-1 {
  width: 33px;
  font-size: 0;
  background: url("../img/basket-item-1.png") no-repeat center center;
}

.basket-item-2 {
  width: 33px;
  font-size: 0;
  background: url("../img/basket-item-2.png") no-repeat center center;
}

.modal-basket td:nth-child(3) {
  width: 218px;
  text-align: left;
  padding-left: 12px;
}

td.basket-item-2 + td {
    padding-top: 20px;
}

.item-price {
  color: #999999;
}

.basket-sum {
  border-top: 1px solid #ccccc9;
  text-align: right;
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
}

.basket-close-btn {
  width: 18px;
  height: 18px;
  font-size: 0;
  background: url("../img/close.png") no-repeat top center;
  border: 0;
  cursor: pointer;
}

.modal-basket .btn {
  float: right;
  margin-bottom: 20px;
}

.user-basket:hover .modal-basket {
  display: block;
}

.exit-text:hover,
.search-text:hover,
.dispatch-text:hover {
  border: 2px solid #c7c6c5;
}

.exit-text:focus,
.search-text:focus,
.dispatch-text:focus {
  border: 2px solid #8fbdec;
}

.exit-text:focus,
.exit-text:hover {
  width: 220px;
  height: 35px;
}

.search-text:focus,
.search-text:hover {
  width: 293px;
  height: 36px;
}

.modal-connect-form {
  position: absolute;
  z-index: 20;
  display: none;
  top: 338px;
  left: 363px;
  width: 428px;
  padding-left: 24px;
  padding-right: 25px;
  padding-top: 23px;
  background: #f8f7f4;
  color: #323232;
  border-radius: 10px;
}

.modal-connect-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 22px;
  height: 22px;
  font-size: 0;
  border: none;
  cursor: pointer;
  background: none;
}


.modal-connect-close::before,
.modal-connect-close::after {
  content: "";
  position: absolute;
  top: 7px;
  right: -8px;
  width: 22px;
  height: 2px;
  background-color: #000;
  border-radius: 1px;
}

.modal-connect-close::before {
  transform: rotate(45deg);
}

.modal-connect-close::after {
  transform: rotate(-45deg);
}

.connect-form-name {
  margin-top: -8px;
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  color: #323232;
}

.modal-connect-form input[type="text"] {
  margin: 0;
  margin-top: 20px;
  padding-left: 14px;
  width: 254px;
  height: 40px;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
}

.modal-connect-form input[type="text"]:hover {
  border: 2px solid #c7c6c5;
  width: 250px;
  height: 38px;
}

.modal-connect-form input[type="text"]:focus {
  border: 2px solid #8fbdec;
  width: 250px;
  height: 38px;
}

.modal-connect-form textarea {
  width: 410px;
  height: 149px;
  margin-top: 20px;
  margin-bottom: 25px;
  padding-left: 14px;
  font-size: 16px;
  line-height: 24px;
  color: #999999;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
}

.modal-connect-form .btn {
  float: right;
  margin: 0;
  margin-bottom: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #fefefe;
}

.modal-overlay {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -214px;
  margin-top: -210px;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
